@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
*:before,
*:after {
  box-sizing: border-box;
}

@layer base {
  html {
    font-size: 10px;
    padding: 5%;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-matter), Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    @apply bg-white text-black;
  }
}

.loading-container {
  /* Ensure this is hidden after loading */
  display: none;
  /* or remove this element from the DOM */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* Background color for loading screen */
  z-index: 9999;
  /* Ensure it covers the entire screen */
}

.number {
  font-size: 6rem;
  font-weight: bold;
}

#root {
  padding: 4.4rem 5rem 6rem;
  /* max-width: 100vh; */
  /* Consider changing this */
  height: 100vh;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  #root {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.responsive-svg {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .responsive-svg {
    width: 500px;
  }
}

.intro {
  margin-top: 6rem;
  font-size: 2rem;
  line-height: 1.3;
  opacity: 0;
  font-family: var(--font-matter), Helvetica, Arial, sans-serif;
  padding-top: 10px;

  strong {
    font-size: 3rem;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 300;

    @media (max-width: 440px) {
      font-size: 2.6rem;
    }
  }
}

/* Initial position */
.arrow-icon {
  transform: translate(0, -50%) scale(1);
  /* Added scale(1) for initial size */
  transition: all 0.3s ease;
}

/* Hover position */
.contact-item:hover .arrow-icon {
  transform: translate(12px, -65%) scale(1.20);
  /* Added scale(1.15) for 15% size increase */
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  filter: invert(1);
}

@layer components {
  /* Your component styles here */
}

@layer utilities {
  /* Your utility styles here */
}